:root {
    --main--color:#222;
}
:root {
    --main--colorAnother-color:#009688;
}

*{
    box-sizing: border-box;
}
body{
    font-family:tahoma,Arial ;
}
.container{
    margin: 20px auto;
    width: 1000px;
}
.row{
    display: flex;
}
hr{
    border: 1px solid #EEE;
}
.game-info{
    display:flex;
}
.game-info .game-name{
    flex: 1;
}
.game-info .category{
    flex: 1;
    text-align: right;
}
.game-info .category span{
    text-transform: capitalize;
    color: #E91E36;
    font-weight: bold;
}
.hangman-draw{
    flex: 1;
    background-color: #F8F8F8;
    padding: 20px;
    height: 324px;
}
.hangman-draw .the-draw {
    width: 60px;
    height: 280px;
    border-bottom: 4px solid var(--main--color);
    position: relative;
    margin: auto;
    left: -60px;
    display: none;

}
.hangman-draw .the-stand{
    position: absolute;
    width: 4px;
    background-color:var(--main--color);
    height: 100%;
    left: 50%;
    margin-left: -2px;
    display: none;
}
.hangman-draw .the-hang{
    display: none;
}
.hangman-draw .the-stand:before{
    /* content: ''; */
    position: absolute;
    height: 4px;
    background-color:var(--main--color);
    width: 100%;
    left: 30%;
    top: 15px;
}
.hangman-draw .the-hang:before{
    content: '';
    position: absolute;
    width: 91px;
    background-color:var(--main--color);
    height: 4px;
    left: 47%;
    top: 15px;

} 
 .hangman-draw .the-hang:after{
    content: '';
    position: absolute;
    width: 4px;
    height: 30px;
    background-color:var(--main--color);
    left: 118px;
    top: 15px;

}
.hangman-draw .the-rope{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 84px;
    top: 45px;
    border: 4px dashed var(--main--color);
    display: none;
}
.hangman-draw .the-man .head {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid var(--main--color);
    position: absolute;
    left: 94px;
    top: 55px;
    display: none;
}
.hangman-draw .the-man .body{
    position: absolute;
    background-color: var(--main--color);
    width: 4px;
    height: 110px;
    top: 103px;
    left: 118px;display: none;


}
.hangman-draw .the-man .hands{
    display:none;
}
.hangman-draw .the-man .hands::before{
    left: 72px;
    transform: rotate(30deg);
}
.hangman-draw .the-man .hands::after{
    transform: rotate(-30deg);
    left: 117px;
}
.hangman-draw .the-man .hands::after,
.hangman-draw .the-man .hands::before{
    content: '';
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: var(--main--color);
    top: 151px;
}
.hangman-draw .the-man .legs{
    display:none;
}
.hangman-draw .the-man .legs:before{
    left:72px;
    transform: rotate(-30deg);
}
.hangman-draw .the-man .legs::after{
    left: 117px;
    transform: rotate(30deg);
}
.hangman-draw .the-man .legs::after,
.hangman-draw .the-man .legs::before{
    content: '';
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: var(--main--color);
    top: 222px;
}
.hangman-draw.Wrong-1 .the-draw{
    display: block;
}
.hangman-draw.Wrong-2 .the-stand{
    display: block;
}
.hangman-draw.Wrong-3 .the-hang{
    display: block;
}
.hangman-draw.Wrong-4 .the-rope{
    display: block;
}
.hangman-draw.Wrong-5 .head{
    display: block;
}.hangman-draw.Wrong-6 .body{
    display: block;
}.hangman-draw.Wrong-7 .hands{
    display: block;
}
.hangman-draw.Wrong-8 .legs{
    display: block;
}
.letters{
    flex :1;
    padding: 15px;
    text-align: center;
}
.letters.finished{
    pointer-events: none;
}
.letters .letters-box{
    width: 55px;
    height: 55px;
    display:inline-block;
    background-color:var(--main--colorAnother-color);
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}
.letters-guess{
    margin: 10px auto;
    background-color:#f8f8f8f8 ;
    padding: 20px;
    display: flex;
    justify-content:center;
    min-height: 104px;
}
.letters-guess span {
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin-right: 10px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #FDFDFD;
    border-bottom: 3px solid #333;
    transition: .3s;
}
.letters-guess span.with-space{
    background: none;
    border-bottom: none;
    position: relative;
}
.letters-guess span.with-space:before{
    content: '';
    width: 20px;
    height: 4px;
    background-color:var(--main--colorAnother-color);
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%) ;
}
.letters .letters-box.clicked {
    background-color: #222;
    opacity:.20;
    pointer-events: none;
}
.popup{
    position: fixed;
    background-color:var(--main--colorAnother-color);
    padding: 100px 20px;
    width: 80%;
    top: 10%;
    left: 10%;
    text-align: center;
    font-size: 40px;
    border: 1px solid #CCC;
    color: #fff;
}
.Congratolation{
    position: fixed;
    background-color:var(--main--colorAnother-color);
    padding: 100px 20px;
    width: 80%;
    top: 10%;
    left: 10%;
    text-align: center;
    font-size: 40px;
    border: 1px solid #CCC;
    color: #fff;
}